<!DOCTYPE html>
<html>
<head>
  <title>Iconizeme</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">IconizeMe!</a>
			</div>
			<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/static_pages/about">About</a></li>
					<li><a href="/artists">Samples</a></li>
					<li><a href="/icons">User Gallery</a></li>
					<li><a href="/static_pages/order">Order</a></li>
					<li><a href="/static_pages/contact">Contact</a></li>
				</ul>
			</div><!-- container -->
		</nav>
	</header>

<%= yield %>

	<footer>
		<h6>Jose Ramos</h6>
	</footer

</body>
</html>
